__pycache__/
*.pyc
.pytest_cache/
*.log
*.log.[0-9]

# Khoá file và file tạm
*.lock
*.tmp

# Môi trường ảo Python
.venv/
venv/
*.egg-info/

# Đóng gói (PyInstaller) & artifacts
build/
dist/
*.spec
hw_gui-linux
hw_gui.exe

# Dữ liệu kho mẫu cá nhân (không commit vào repo):
chu_cua_ban.json.gz
